@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,700,100italic,300italic,400italic,700italic);

body{
	font-family: 'Raleway', Arial, 'Lucida Sans', 'Sans Serif'; 
	width: 100%;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#paste-code-input {
	min-width: 100%;
	max-width: 100%;
}

.result-and-paste-input-panel {
	max-height: 300px;
	height: 300px;
	width: 100%
}

.reverse-indent-page-header {
	padding-bottom: 0;
}